// remove native cursor
* {
  cursor: none;
}

// reset body for cursor the all page
body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cursor {
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;

  &__circle {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 10000;
    transform: translateX(-50%) translateY(-50%);

    &--big {
      stroke: #44ff00;
      fill: transparent;
      mix-blend-mode: difference;
      transform: translateX(-50%) translateY(-50%);
    }

    &--small {
      fill: #050000;
      mix-blend-mode: difference;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
